<div class="container">
<div class="bs-example" data-example-id="thumbnails-with-custom-content">
    <div class="row">
       <h1> Model Driven Forms </h1>
        <div class="col-sm-9" > 
			<form class="needs-validation" novalidate 	[formGroup]="myform"> 
				<fieldset formGroupName="name">
					<div class="form-group" >
						<label>First Name</label>
						<input type="text"
									 class="form-control has-success"
									 formControlName="firstName"
									 required>
						<div class="text-danger"
								 *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
							<p *ngIf="firstName.errors.required">First Name is required</p>
						</div>
			
						<!--
							<pre>Valid? {{ myform.controls.name.controls.firstName.valid }}</pre>
							<pre>Dirty? {{ myform.controls.name.controls.firstName.dirty }}</pre>
						-->
					</div>
			
					<div class="form-group" >
						<label>Last Name</label>
						<input type="text"
									 class="form-control"
									 formControlName="lastName"
									 required>
						<div class="text-danger"
								 *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
							<p *ngIf="lastName.errors.required">Last Name is required</p>
						</div>
					</div>
				</fieldset>
			
			
				<div class="form-group" >
					<label>Email</label>
					<input type="email"
								 class="form-control"
								 formControlName="email"
								 required>
					<div class="text-danger"
							 *ngIf="email.errors && (email.dirty || email.touched)">
						<p *ngIf="email.errors.required">Email is required</p>
						<p *ngIf="email.errors.pattern">
								Email is invalid.	
						</p>
					</div>
			
					<!--
						<pre>Valid? {{ myform.controls.email.valid }}</pre>
						<pre>Dirty? {{ myform.controls.email.dirty }}</pre>
					-->
			
				</div>
			
				<div class="form-group" > 
					<label>Password</label>
					<input type="password"
								 class="form-control"
								 formControlName="password"
								 required>
					<div class="text-danger"
							 *ngIf="password.errors && (password.dirty || password.touched)">
						<p *ngIf="password.errors.required">Password is required</p>
						<p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
					</div>
				</div>
			
				<!--
					<pre>{{ password.errors | json }}</pre>
				-->
			
				<div class="form-group" >
					<label>Language</label>
					<select class="form-control"
									formControlName="language" required>
						<option value="-1">Please select a language</option>
						<option *ngFor="let lang of langs"
										[value]="lang">{{lang}}
						</option>
					</select>
					<div class="text-danger"
									*ngIf="language.errors && (language.dirty || language.touched)">
							<p *ngIf="language.errors.required">Language is required</p> 
						</div>
				</div>
			
				<pre>{{myform.value | json}}</pre>
			</form>				 
				</div> 



    </div>
</div>
</div>
