<div class="container">
  <h1>HOME COMPONENET</h1>
</div>


<div class="container">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
  
  <carousel>
    <slide *ngFor="let slide of slides" >
      <img src="{{slide.image}}" alt="First slide" style="display: block; width: 100%; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>{{slide.title}}</h3>
        <p>{{slide.description}}</p>
      </div>
    </slide> 
  </carousel>
  </div>
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h1>Json Response Via Service Call: </h1>
    <br>  {{slides|json}}
   
    <br>
   
    <br>
<br>
   
</div>
 
</div>
<br>
<br>
